* {
    box-sizing: border-box;
  }

  /* Style the header */
  .header {
    width: 700px;
    background-color: #f44336;
    padding: 5px 10px;
    color: white;
    text-align: center;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }

  ol li {
    margin: 12px;
    padding: 5px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
}

  /* Style the input */
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }

  .doneText{
    color: green;
  }

  .unDoneText{
    color: red;
  }

  button{
    margin-left: 10px;
  }

  /* Style the "Add" button */
  .addBtn {
    padding: 10px;
    width: 20%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .addBtn:hover {
    background-color: #bbb;
  }